language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

install:
  - composer install --no-interaction --no-progress --prefer-dist

script:
  - vendor/bin/phpcs --standard=PSR2 src
  - vendor/bin/phpunit --coverage-text
